#movableDiv88 {
  width: 865px;
  transition: width 0.3s ease, height 0.3s ease;
}

#lm-search {
  display: none; /* Hidden by default */
  position: absolute;
  right: 182px;
  top: 0px;
  width: 330px;
  background: #f4f4f4;
  padding: 20px;
  opacity: 0; /* Invisible by default */
  transform: translateX(100%);
  transition: all 0.3s ease-in-out;
  margin-right: -160px;

     
}

#lm-search[style*="display: block"] {
  opacity: 1; /* Fully visible */
  transform: translateX(0);
}

.lm-container {
    padding: 8px;
    max-width: 840px;
}

.lm-fieldset {
    border: 1px solid black;
    border-radius: 5px;
    padding: 8px; /* Reduced padding for compact fieldset */
    margin: 5px 0;
}

.lm-legend {
  font-size: 12px; /* Smaller font for a more compact look */
  font-weight: bold;
  color: #0b62e4;
}
 /* Form input styles */
 .lm-text,
 .lm-number,
 .lm-email,
 .lm-date,
 .lm-select {
   width: 100%;
   padding: 3px; /* Reduced padding for smaller input fields */
   margin: 2px 0;
   background-color: #dedada;
   border: 1px solid #ccc;
   border-radius: 3px;
   font-size: 11px; /* Smaller font size */
 }
 
 .lm-text:focus,
 .lm-number:focus,
 .lm-email:focus,
 .lm-date:focus,
 .lm-select:focus {
   border-color: #0b62e4;
   outline: none;
 }

.lm-table-container {
  max-height: 295px;
  overflow-y: auto;
  width: 100%;
  max-width: 952px;
  margin: 0 auto;
  overflow-x: auto;
}

.lm-table-container table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  font-size: 10px;
  text-align: left;
  font-weight: normal;
}

.lm-table-container th {
  position: sticky;
  top: -2px; /* Keep the header at the top */
  z-index:2; /* Ensure header stays above body content */
  text-align: center; /* Optional: Center the header text */
  font-weight: normal; /* Remove the bold font-weight */
  background-color:#2f7ebd;
}

.lm-table-container th,
.lm-table-container td {
  border: 1px solid #000000; /* Bolder border */
  padding: 8px;
  text-align: left;
}

.lm-table-container td {
  text-align: center; /* Optional: centers text in cells */
}

.lm-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  /* Button styles */
  .lm-button {
    background-color: #0b62e4;
    color: white;
    border: none;
    padding: 4px 10px; /* Reduced padding for smaller buttons */
    border-radius: 3px;
    cursor: pointer;
    font-size: 11px; /* Smaller font size for compact buttons */
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.1s ease;
  }
  
  .lm-button:hover {
    background-color: #094bba;
  }
  
  .lm-button:active {
    background-color: #073a8e;
    transform: scale(0.95);
  }